<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center align-items-center h-100">
      <div class="card-wrapper">
        <div class="brand">
          <img src="../../../../assets/images/logo-icon.png" alt="bootstrap 4 login page">
        </div>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Forgot Password</h4>
            <form method="POST" class="my-login-validation" novalidate="">
              <div class="form-group">
                <label for="email">E-Mail Address</label>
                <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                <div class="invalid-feedback">
                  Email is invalid
                </div>
                <div class="form-text text-muted">
                  By clicking "Reset Password" we will send a password reset link
                </div>
              </div>

              <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="footer">
          <app-info-author></app-info-author>
        </div>
      </div>
    </div>
  </div>
</section>

